.App {
  text-align: center;
  font-family: georgia;
}

h1 {
  font-family: 'ChomskyRegular';
  font-weight: normal;
  font-style: normal;
  font-size: xxx-large;
}

.content-holder {
  display: flex;
}