.App {
  text-align: center;
  font-family: georgia;
}

h1 {
  font-family: 'Roboto Slab', serif;  
  font-weight: 900;
  font-size: xxx-large;
}

.style-font {
  font-family: 'ChomskyRegular', serif;
  font-size: xxx-large;
} 

.greeting {
  opacity: 25%; 
  height: 80vh; 
  margin: 0 9%;
}

.content-holder {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 480px) {
  
  .greeting {
    display: none;
  }

  h1 {
    font-size: large;
  }

  .content-holder {
    flex-direction: column-reverse;
  }

  .card {
    width: 90vw;
    padding: 15px;
  }

}