.card {
  /* border: 1px solid black; */
  height: 70vh;
  width: 50vw;
  margin: 10px;
  padding: 10px;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: scroll;
}

.mediumThreeByTwo210 {
  height: 280px;
  width: 420px;
  margin: 2vh 0;
}

.title-rating-holder {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  border-bottom: 2px solid black;
  margin-bottom: 4vh;
}

.title-rating-holder > h2 {
  margin: 0;
  padding: 0;
}

.title-rating-holder > p {
  margin: 3px;
  color: grey;
}

.movie-strong {
  font-size: larger;
  font-weight: bold;
}

.movie-italic {
  font-size: medium;
  font-weight: 200;
  font-style: italic;
}

.title-info {
  text-align: left;
  padding-bottom: 20px;
  font-size: xxx-large;
  margin: 10px;
}

.date-info {
  text-align: left;
  color: grey;
  font-size: small;
}

.summary-holder {
  text-align: left;
  
}

.link-holder {
  text-align: left;
  
}

.headline {
  text-align: left;
  font-size: x-large;
  margin: 0;
}

a {
  text-align: left;
}

@media screen and (max-width: 480px) {
  .card {
    width: 95vw;
    height: fit-content;
  }

  .title-rating-holder {
    flex-direction: column;
  }

  .title-info {
    font-size: x-large;
    width: 70vw;
  }

  .mediumThreeByTwo210 {
    height: auto;
    width: 80vw;
    margin: 2vh 0;
  }

  /* .title-rating-holder > p {
    margin: 3px;
    color: grey;
  } */

  /* .title-rating-holder > h2 {
    margin: 0;
    padding: 0;
  } */

  .movie-italic > h3 {
    text-align: left;
    color: grey;
  }
}